.dsf-header {
    height: 70px;
    width: 100%;
    background-color: var(--dsf-color-bg-primary);
    display: flex;
    align-items: center;
  }
  
  .dsf-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  
  .dsf-header-title {
    color: var(--dsf-color-font-primary);
    font-size: 20px;
    font-weight: 700;
  }
  
  .dsf-header-product-count {
    color: var(--dsf-color-font-primary);
    font-size: 12px;
    font-weight: 700;
  }